<a href="https://colab.research.google.com/github/KinjalBiswas-2005/python-applications/blob/main/1ST_PYTHON_PROGRAMMING22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('welcome to python programming')

welcome to python programming

In [ ]:
print('hello',end='')
print("cse")

hellocse

In [ ]:
a=100
print("a=",a)

a= 100

In [ ]:
n=input('Enter your name')
print('Myself :', n)

Enter your nameKinjal
Myself : Kinjal

In [ ]:
print(2+3)
print

5
23

In [ ]:
# Complex Number
a=12+15j
print('a=' ,a)
print(a.real)
print(a.imag)

a= (12+15j)
12.0
15.0

In [ ]:
a=0b111
print('a =', a)
b=0xaa
print('b =', b)

a = 7
b = 170

In [ ]:
from re import T
# to check data type
a=100
b=10.55
c='ABIT'
d=True
print('Type of a=',type(a))
print('Type of b=',type(b))
print('Type of c=',type(c))
print('Type of d=',type(d))

Type of a= <class 'int'>
Type of b= <class 'float'>
Type of c= <class 'str'>
Type of d= <class 'bool'>

In [ ]:
print('Hello cse group-ii')

Hello cse group-ii

In [ ]:
#Using of + operator
a = int(input('Enter 1st no.'))
b = int(input('Enter 2nd no.'))
c = a + b
print(c)

Enter 1st no.22
Enter 2nd no.33
55

In [ ]:
a =123
print(type(a))
b ="Hello"
print(type(b))
c=12.3
print(type(c))
d=True
print(type(d))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [ ]:
from binascii import b2a_base64
#Arithmetic Operators
a = 2
b = 5
c = a+b
print('a+b=' ,c)
d = a-b
print('a-b=' ,d)
e = a*b
print('a*b=' ,e)
f = a/b
print('a/b=' ,f)
h = a//b
print('a-b=' ,h)
g = a%b
print('a%b=' ,g)
i = a**b
print('a**b=' ,i)

a+b= 7
a-b= -3
a*b= 10
a/b= 0.4
a-b= 0
a%b= 2
a**b= 32

In [ ]:
a = 8
b = 5
d = a != b
print('a != b=' ,d)

a != b= True

In [ ]:
#Bitwise - Shift operator
a = 4
b = 2
d = a & b
print('a & b=' ,d)
f= a << b
print('a << b=',f)

a & b= 0
a << b= 16

In [ ]:
a=2
b=5
a+=b
print('a =',a)
print('b =',b)

a = 7
b = 5

In [ ]:
#Special Operator
a=5
b=5
d = a is b
print('a is b =',d)
d = a is not b
print('a is not b =',d)

a is b = True
a is not b = False

In [ ]:
# in Operator
a ="Hello"
b ='l'
c = b in a
print('b in a =', c)
d = b not in a
print('b not in a =',d)

b in a = True
b not in a = False

In [ ]:
# input a no and check even.
a=int(input('Enter a number'))
if a%2==0:
  print('Even number')
else:
   print('Odd number')

Enter a number5
Odd number

In [ ]:
# input a no and check maximum.
a=int(input('Enter a number'))
b=int(input('Enter a number'))
if a>b:
  print('a is max')
else:
  print('b is min')

Enter a number26
Enter a number34
b is min

In [ ]:
number=int(input("Enter the number?"))
if number==10:
  print("number is equal to 10")
elif number==50:
  print("number is equal to 50")
elif number==100:
  print("number is equal to 100")
else:
  print("number is not equal to 10,50 or 100")

Enter the number?100
number is equal to 100

In [ ]:
str = 'PYTHON'
for i in str:
  print(i)

P
Y
T
H
O
N

In [ ]:
for i in range(1,11):
  print(i,end ="")

12345678910

In [ ]:

n = int(input('n = ?'))
c=0
for i in range (1,n+1):
  if(i%2==1):
    c=c+1
    print(i,end=',')
print('No of ODD=',c)

n = ?10
1,3,5,7,9,No of ODD= 5

In [ ]:
# while loop
n = 1
while n<=10:
  print(n)
  n=n+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#while loop
num=int(input('Enter the no.s'))
rev=0
while num!=0:
  d=num%10
  rev=rev*10+d
  num//=10
  print('Reverse is'+str(rev))

Enter the no.s34567
Reverse is7
Reverse is76
Reverse is765
Reverse is7654
Reverse is76543

In [ ]:
#to find the reverse of a number
n=int(input('Enter a number'))
c=0
reverse=0
while(n>0):
  reverse=reverse+n%10
n=n/10
print('The reverse of the number is',reverse)

In [ ]:
rows=6
for i in range(rows):
  for j in range(i):
    print(i,end='')
  print('')

1
22
333
4444
55555

In [ ]:
rows=6
b=0
for i in range(rows,0,-1):
  b +=1
  for j in range(1,i,+1):
    print(b,end='')
  print('\r')

11111
2222
333
44
5

In [ ]:
n=5
for i in range(n,0,-1):
 b=i
 for j in range(0,i):
  print(b,end='')
 print('\r')

55555
4444
333
22
1

In [ ]:
for i in range(5,0,-1):
  for j in range(i,6):
    print(i,end='')
  print('')

5
44
333
2222
11111

In [ ]:
rows=6
for i in range(1,6):
  print(str(i)*(i))


for i in range(4,0,-1):
    print(str(i)*(i))

1
22
333
4444
55555
4444
333
22
1

In [ ]:
rows=6
for i in range(rows,0,-1):
  for j in range(0,i+1):
    print(j,end='')
  print('')

0123456
012345
01234
0123
012
01

In [ ]:
rows=5
num=rows
for i in range(rows,0,-1):
  for j in range(0,i):
    print(num,end='')
  print('')

55555
5555
555
55
5

In [ ]:
rows=6
for i in range(1,rows):
  for j in range(1,i+1):
    sq=i*j
    print(i*j,end='')
  print('\r')

1
24
369
481216
510152025

In [ ]:
rows=8
for i in range(1,rows+1):
  for j in range(1,i+1):
    sq=i*j
    print(i*j,end=" ")
  print('\r')

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

In [ ]:
rows=70
for i in range(65,rows):
  for j in range(65,i+1):
    print(chr(i),end=" ")
  print(" ")

A
B B
C C C
D D D D
E E E E E

In [ ]:
# To find AREA and PERIMETER
# Triangle AREA=1/2x b x h ,PERIMETER=a+b+c
b = int(input('Enter b = ?'))
h = int(input('Enter h= ?'))
area = 0.5 * b * h
print('AREA OF TRIANGLE =',area)
# Triangle PERIMETER= a + b + c
a = int(input('Enter a = ?'))
b = int(input('Enter b = ?'))
c = int(input('Enter c = ?'))
perimeter=a*b*c
print('PERIMETER OF TRIANGLE =',perimeter)

Enter b = ?5
Enter h= ?6
AREA OF TRIANGLE = 15.0
Enter a = ?7
Enter b = ?8
Enter c = ?4
PERIMETER OF TRIANGLE = 224

In [ ]:
for var in "ABIT":
  if var=="B":
    continue
  print(var)

A
I
T

In [ ]:
for i in range(10):
   print(i)
   if i == 2:
    break

0
1
2

In [ ]:
x = abs(-7.25)
print(x)

7.25

In [ ]:
list = [0,2,2]
a = all(list)
print(a)

False

In [ ]:
tuple = (0,1,False)
a = any(tuple)
print(a)

True

In [ ]:
a = ascii("Mostly Sane")
print(a)

'Mostly Sane'

In [ ]:
a = bin(30)
print(a)

0b11110

In [ ]:
a = bool(22)
print(a)

True

In [ ]:
a = ('jhon','ann','sia')
b = enumerate(a)
print(b)

<enumerate object at 0x7d5bfe7778c0>

In [ ]:
class Student:
 name = "Ann"
 age = 28
 country = "USA"
x = getattr(Student,'age')
print(x)

28

In [ ]:
a = dict(name="Jaydon",mob=1834567,country="Canada")
print(a)

{'name': 'Jaydon', 'mob': 1834567, 'country': 'Canada'}

In [ ]:
class User:
  name="Jaydon"
  mob=1543678
  country="Canada"
print(dir(User))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'country', 'mob', 'name']

In [ ]:
a=globals()
print(a)

{'__name__': '__main__', '__doc__': 'Automatically created module for IPython interactive environment', '__package__': None, '__loader__': None, '__spec__': None, '__builtin__': <module 'builtins' (built-in)>, '__builtins__': <module 'builtins' (built-in)>, '_ih': ['', "a = dict('name':'Jaydon','mob':1834567,'country':'Canada')\nprint(a)", "a = dict('name': 'Jaydon','mob': 1834567,'country': 'Canada')\nprint(a)", 'a = dict(name:"Jaydon",mob: 1834567,country:"Canada")\nprint(a)', 'a = dict(name="Jaydon",mob=1834567,country="Canada")\nprint(a)', 'class User:\n  name="Jaydon"\n  mob=1543678\n  country="Canada"\n  print(dir(User))', 'class User:\n  name="Jaydon"\n  mob=1543678\n  country="Canada"\nprint(dir(User))', 'a=globals()\nprint(a)'], '_oh': {}, '_dh': ['/content'], 'In': ['', "a = dict('name':'Jaydon','mob':1834567,'country':'Canada')\nprint(a)", "a = dict('name': 'Jaydon','mob': 1834567,'country': 'Canada')\nprint(a)", 'a = dict(name:"Jaydon",mob: 1834567,country:"Canada")\nprint(a)', 'a = dict(name="Jaydon",mob=1834567,country="Canada")\nprint(a)', 'class User:\n  name="Jaydon"\n  mob=1543678\n  country="Canada"\n  print(dir(User))', 'class User:\n  name="Jaydon"\n  mob=1543678\n  country="Canada"\nprint(dir(User))', 'a=globals()\nprint(a)'], 'Out': {}, 'get_ipython': <bound method InteractiveShell.get_ipython of <google.colab._shell.Shell object at 0x7c19c75638e0>>, 'exit': <IPython.core.autocall.ZMQExitAutocall object at 0x7c19c7563e80>, 'quit': <IPython.core.autocall.ZMQExitAutocall object at 0x7c19c7563e80>, '_': '', '__': '', '___': '', '_i': 'class User:\n  name="Jaydon"\n  mob=1543678\n  country="Canada"\nprint(dir(User))', '_ii': 'class User:\n  name="Jaydon"\n  mob=1543678\n  country="Canada"\n  print(dir(User))', '_iii': 'a = dict(name="Jaydon",mob=1834567,country="Canada")\nprint(a)', '_i1': "a = dict('name':'Jaydon','mob':1834567,'country':'Canada')\nprint(a)", '_i2': "a = dict('name': 'Jaydon','mob': 1834567,'country': 'Canada')\nprint(a)", '_i3': 'a = dict(name:"Jaydon",mob: 1834567,country:"Canada")\nprint(a)', '_i4': 'a = dict(name="Jaydon",mob=1834567,country="Canada")\nprint(a)', 'a': {...}, '_i5': 'class User:\n  name="Jaydon"\n  mob=1543678\n  country="Canada"\n  print(dir(User))', '_i6': 'class User:\n  name="Jaydon"\n  mob=1543678\n  country="Canada"\nprint(dir(User))', 'User': <class '__main__.User'>, '_i7': 'a=globals()\nprint(a)'}

In [ ]:
a=format(1.5,'%')
print(a)

150.000000%

In [ ]:
score=[15,10,20,17,26,42]
def customFunc(a):
  if a<20:
   return False
  else:
    return True
players=filter(customFunc,score)
for a in players:
 print(a)

20
26
42

In [ ]:
class speed:
  kmph=136
class car(speed):
  name="BMW"
  speed=speed
x=issubclass(car,speed)
print(x)

True

In [ ]:
x=iter(["jhon","lisa","maria","ava"])
print(next(x))
print(next(x))
print(next(x))
print(next(x))

jhon
lisa
maria
ava

In [ ]:
a=bytes(22)
print(a)

b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'

In [ ]:
a=compile('print(45)','test','eval')
exec(a)

45

In [ ]:
# User defined Function
def show():
  print('HELLO CSE')
show()

HELLO CSE

In [ ]:
# Passing Parameters in User Defined Function
def ADD(a,b):
  c=a+b
  print('SUM OF TWO NUMBERS=',c)
ADD(10,20)

SUM OF TWO NUMBERS= 30

In [ ]:
# Passing Parameters in User Defined Function Using KEYBOARD
def ADD(a,b):
  c=a+b
  print('SUM OF TWO NUMBERS=',c)
ADD(10,20)
p=int(input("Enter 1st no.= ?"))
q=int(input("Enter 2nd no.= ?"))
ADD(p,q)

SUM OF TWO NUMBERS= 30
Enter 1st no.= ?40
Enter 2nd no.= ?50
SUM OF TWO NUMBERS= 90

In [ ]:
# Using Return Statement in User Defined Function.
def sumofn(n):
  s=0
  for i in range(1,n+1):
    s=s+i
  return(s)
m=int(input("Enter n value= ?"))
print('Sum of N=',sumofn(m))

Enter n value= ?6
Sum of N= 21

In [ ]:
def star(p,q):
 number=1
 for i in range(1,p):
    for j in range(1,q):
      if(j<=i):
         print(number,end=" ")
         number+=1
    print()


m=int(input('Enter the no.for row= ?'))
n=int(input('Enter the no. for column= ?'))
star(m,n)

Enter the no.for row= ?5
Enter the no. for column= ?4
1
2 3
4 5 6
7 8 9

In [ ]:
list=['P','Y','T','H','O','N']
print(list)
print(list[2:6])
print(list[:4])
print(list[4:])

['P', 'Y', 'T', 'H', 'O', 'N']
['T', 'H', 'O', 'N']
['P', 'Y', 'T', 'H']
['O', 'N']

In [ ]:
list=[10,20,30,40,50,60,70,80,90]
print(list[2:6])

[30, 40, 50, 60]